:root {
	--border-color-selected: #4285F4;
	--border-width: 1px;
	--gap: 1rem;
	--gap-small: 0.5rem;
	--tile-min: 8rem;
}

* {
	box-sizing: border-box;
}

body {
	margin: var(--gap);
}

main {
	display: grid;
	gap: var(--gap);
}

button[name="video-folder"],
select {
	border: var(--border-width) solid black;
}

button[name="video-folder"] {
	overflow: hidden;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.controls {
	display: grid;
	gap: var(--gap-small) var(--gap);
	grid-template-columns: max-content minmax(0, 1fr);
}

.grid {
	display: grid;
	gap: var(--gap);
	grid-template-columns: repeat(auto-fill, minmax(var(--tile-min), 1fr));
}

.tile {
	aspect-ratio: 1;
	background: white;
	border: var(--border-width) solid black;
	cursor: pointer;
	overflow: hidden;
	padding: 0;
}

.tile[aria-pressed="true"] {
	border-color: var(--border-color-selected);
}

.tile img,
.tile video {
	display: block;
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.tile video {
	pointer-events: none;
}
